html {
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: 2rem;
  background-color: #ccc;
}

h2 {
  text-align: center;
  padding: 2rem;
}

ul {
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  margin-right: 1.5rem;
  width: 5em;
}

a {
  background-color: #444;
  text-decoration: none;
  color: #fff;
  padding: .5rem 1rem;
}
